<% layout("/layouts/boilerplate") -%>

    <!-- <h3>All Listings</h3> -->
    <!-- <form method="GET" action="/listings/new">
        <button>Create New Listing</button>
    </form> -->
    <style>
        #filters{
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            align-items: center;
        }
        .filter{
            text-align: center;
            margin-right: 2rem;
            margin-top: 2rem;
            opacity:0.7;
        }
        .filter:hover{
            opacity:1;
            cursor:pointer;
        }
        .filter p{
            font-size: 0.8rem;
        }
        .tax-info{
            display:none;
        }
        .tax-toggle{
             border:1px solid black;
            border-radius: 1rem;
            padding:1rem;
            margin-left: 2rem;
            height:2.5rem;
            display: flex;
            align-items:center;
        }
        .fi-btn{
            border:none;
            background-color: white;
            padding:0rem;
        }
    </style>
    <div id="filters">
        <div class="filter">
            <button class="fi-btn"><div><i class="fa-solid fa-fire"></i></div>
            <p class="fil-p">Trending</p></button>
        </div>
        <div class="filter">
            <button class="fi-btn"><div><i class="fa-solid fa-bed"></i></div>
            <p class="fil-p">Rooms</p></button>
        </div>
        <div class="filter">
            <button class="fi-btn"><div><i class="fa-solid fa-mountain-city"></i></div>
            <p class="fil-p">Iconic Cities</p></button>
        </div>
        <div class="filter">
            <button class="fi-btn"><div><i class="fa-solid fa-mountain"></i></div>
            <p class="fil-p">Mountains</p></button>
        </div>
        <div class="filter">
            <button class="fi-btn"><div><i class="fa-solid fa-fort-awesome"></i></div>
            <p class="fil-p">Castles</p></button>
        </div>
        <div class="filter">
            <button class="fi-btn"><div><i class="fa-solid fa-person-swimming"></i></div>
            <p class="fil-p">Amazing Pools</p></button>
        </div>
        <div class="filter">
            <button class="fi-btn"><div><i class="fa-solid fa-campground"></i></div>
            <p class="fil-p">Camping</p></button>
        </div>
        <div class="filter">
            <button class="fi-btn"><div><i class="fa-solid fa-cow"></i></div>
            <p class="fil-p">Farms</p></button>
        </div>
        <div class="filter">
            <button class="fi-btn"><div><i class="fa-solid fa-snowflake"></i></div>
            <p class="fil-p">Arctic</p></button>
        </div>
        <div class="filter">
            <button class="fi-btn"><div><i class="fa-solid fa-igloo"></i></div>
            <p class="fil-p">Domes</p></button>
        </div>
        <div class="filter">
            <button class="fi-btn"><div><i class="fa-solid fa-ship"></i></div>
            <p class="fil-p">Boats</p></button>
        </div>
        <div class="tax-toggle">   
        <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
          </div>
        </div>
    </div>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
     <%for(let listing of allListings){ %>
             <div class="card col listing-card">
                <a href="/listings/<%=listing._id%>" class="listing-link" style="color:black">
            <img src="<%=listing.image.url%>" class="card-img-top" alt="listing_image" style="height: 20rem">
            <div class="card-img-overlay"></div>
            <div class="card-body">
              
              <p class="card-text"><b><%= listing.title%></b> <br>
                &#x20B9;<%=listing.price.toLocaleString("en-IN")%> /night 
            <i class="tax-info"> &nbsp;&nbsp; +18% GST</i></p>
              
            </div>
          </div></a>
    <%}%>
</div>
    
   <script>
    let taxSwitch= document.getElementById("flexSwitchCheckDefault")
    taxSwitch.addEventListener("click",()=>{
     console.log("clicked");
     let taxInfo = document.getElementsByClassName("tax-info");
     for(info of taxInfo){
        if(info.style.display!= "inline"){
            info.style.display="inline";
        }else{
            info.style.display="none";
        }
     }
    }   );
    let allListings = <%- JSON.stringify(allListings) %>;
    let filters = document.getElementsByClassName("filter"); // Collection of filters
    let listCards = document.getElementsByClassName("listing-card"); // Collection of listings

    // Add event listener to each filter button
    for (let filter of filters) {
        filter.addEventListener("click", () => {
            console.log("clicked filter");

            let filterText = filter.querySelector(".fil-p").textContent.trim(); // Get category text

            // Iterate over listings
            for (let i = 0; i < listCards.length; i++) {
                let category = allListings[i].category; // Get category from `allListings`
                
                if (category === filterText) {
                    listCards[i].style.display = "flex";
                } else {
                    listCards[i].style.display = "none";
                }
            }
        });
    }
    

   </script> 

